{% extends 'base.html' %}
{% load static %}

{% block title %}Home | 3D Print Store{% endblock %}

{% block content %}
<style>
        html, body {
        height: 100%;
        margin: 0;
        overflow: hidden;
    }
    .container.mx-auto.px-4.py-8 {
        padding: 0 !important;
        max-width: none !important;
        margin: 0 !important;
        width: 100% !important;
    }
    
    #hero-section {
        height: calc(100vh - 100px); 
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
    }
</style>
<div id="hero-section">
    <div class="absolute inset-0 bg-[url('/static/images/sebastian-svenson-hero-image-unsplash.jpg')] bg-cover bg-center">
        <div class="absolute inset-0 bg-black/40"></div>
    </div>
    <div class="relative z-10 container mx-auto px-8">
        <div class="max-w-2xl">
            <h1 class="text-4xl font-bold -ml-32 mb-8 text-white">Welcome to the 3D Print Store.</h1>
            
            <p class="text-lg text-white max-w-2xl -ml-32 mb-12">
                Browse our extensive collection of 3D models, easily customize them to fit your needs, and stay up to date on your order's progress. At our 3D Print Store, we combine innovation with convenience, delivering high-quality prints tailored just for you.
            </p>
            
            <a href="{% url 'models-list' %}" class="bg-black hover:bg-blue-500 text-white px-6 py-3 -ml-32 rounded shadow inline-block">
                Start Exploring
            </a>
        </div>
    </div>
</div>
{% endblock %}