{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
    <section>
        <h1>{% if is_admin_view %}User Profile: {{ user_profile.user.username }}{% else %}Your Profile{% endif %}</h1>
        
        <article>
            <h2>User Information</h2>
            <dl>
                <dt>Username</dt>
                <dd>{{ user_profile.user.username }}</dd>
                
                <dt>First Name</dt>
                <dd>{{ user_profile.user.first_name }}</dd>
                
                <dt>Last Name</dt>
                <dd>{{ user_profile.user.last_name }}</dd>
                
                <dt>Email</dt>
                <dd>{{ user_profile.user.email }}</dd>
                
                <dt>Address</dt>
                <dd>{{ user_profile.Address }}</dd>
                
                <dt>Phone</dt>
                <dd>{{ user_profile.Phone }}</dd>
                
                {% if is_admin_view %}
                <dt>Staff Status</dt>
                <dd>{{ user_profile.user.is_staff|yesno:"Yes,No" }}</dd>
                
                <dt>Active</dt>
                <dd>{{ user_profile.user.is_active|yesno:"Yes,No" }}</dd>
                {% endif %}
            </dl>
        </article>
        
        <div>
            {% if is_admin_view %}
                <a href="{% url 'edit-user-profile' user_profile.id %}">Edit</a>
                <a href="{% url 'delete-user-profile' user_profile.id %}">Delete</a>
                <a href="{% url 'user-profile-list' %}">Back to List</a>
            {% else %}
                <a href="{% url 'edit-profile' %}">Edit Profile</a>
            {% endif %}
        </div>
    </section>
{% endblock %}
